nav{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background: azure;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.app-content{
    width: 1174px;
    margin: 0px auto;
    background: #8080801c;
}